In [1]:
import pandas as pd

In [67]:
# df = pd.read_csv("142_templates_generate_BTC.csv")
df = pd.read_csv("check.csv")

In [68]:
df

,Unnamed: 0,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,1,"b ' Wow, I've sure seen quite a bit of Kelli M...","b ' Wow, I've sure seen quite a bit of Kelli M...",8631,{'CEO': 'b \' An Epic Story of Hope constraine...,"{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5152,12324
1,1,0,b ' What symbolism! exclaimed a woman as we ex...,b ' What symbolism! exclaimed a woman as we ex...,8450,"{'CEO': 'b \' After seeing Meredith in "" Beyon...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5016,12324
2,2,1,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,4758,"{'CEO': ""b ' This has got to be the worst show...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",4560,12324
3,3,0,"b ' I have not read "" A Time to Kill "" by John...","b ' I have not read "" A Time to Kill "" by John...",5154,"{'CEO': 'b "" Pretentious claptrap, updating He...","{'CEO': {'pos': 0, 'neg': 2}, 'accountant': {'...",2272,12324
4,4,0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",22,"{'CEO': 'b \' Personally, the book was a very ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1560,3081
...,...,...,...,...,...,...,...,...,...
137,137,0,"b "" I started to take a critical view on this ...","b "" I started to take a critical view on this ...",1345,{'CEO': 'b \' I saw this fine flick shortly le...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
138,138,0,"b "" I couldn't believe how bad this film was, ...","b "" I couldn't believe how bad this film was, ...",1033,"{'CEO': 'b "" First off, to rent or watch this ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
139,139,1,"b "" First of all, ignore the comment about how...","b "" First of all, ignore the comment about how...",746,"{'CEO': 'b "" A wealthy young man, raised as a ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
140,140,1,"b "" Compared to the acclaimed Hollywood remake...","b "" Compared to the acclaimed Hollywood remake...",561,"{'CEO': 'b \' For late - 80s cheese, this real...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
141,141,1,"b "" A touching love story reminiscent of In th...","b "" A touching love story reminiscent of In th...",201,"{'CEO': 'b \' Dean Koontz\'s book "" Watchers ""...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081

In [69]:
df[df["template_id"] == 8450]

,Unnamed: 0,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
1,1,0,b ' What symbolism! exclaimed a woman as we ex...,b ' What symbolism! exclaimed a woman as we ex...,8450,"{'CEO': 'b \' After seeing Meredith in "" Beyon...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5016,12324

In [70]:
new_df = pd.read_csv("occ.csv", names=["x", "template_id", "original"])
new_df = new_df.drop([0])

In [71]:
new_df

       x  template_id                                           original
1    0.0         8450  b ' What symbolism! exclaimed a woman as we ex...
2    1.0         4758  b ' Great underrated movie great action good a...
3    2.0           22  b " ' A New Generation ' is the third Amityvil...
4    3.0         4665  b ' For those of you still in the dark, I will...
5    4.0         4519  b ' Even my five year old was bored. Very pred...
6    5.0         2644  b " There are 3 of these movies, all similarly...
7    6.0         5773  b ' If this film were to be rated on a scale o...
8    7.0         4690  b ' French Cinema sucks! Down with all these p...
9    8.0         4088  b ' Attractive husband and wife writing team R...
10   9.0         5381  b ' I remember watching this movie on TV a few...
11  10.0         4175  b ' Billy Crystal is Larry, @DetAAN @OCCUPATIO...
12  11.0         7283  b ' The biggest problem with this film is that...
13  12.0         4812  b ' Here's example number 87,358 of Hollywood'...
14  13.0         3661  b ' A comedy that spoofs the inspirational spo...
15  14.0          753  b " First off let me say that this is probably...
16  15.0         6732  b ' Perhaps the wildest outlier in Alfred Hitc...
17  16.0         5120  b ' I happened to catch this on TV, and wanted...
18  17.0         2092  b " One day a red alley cat is fed up of being...
19  18.0         4187  b ' Brainy, cross - dressing little boy finds ...
20  19.0         6133  b ' KRAMER VS KRAMER won five Oscars, includin...
21  20.0         3498  b " wow, i just got one watching this. How CRA...
22  21.0         3012  b " This movie is one of the worse movies of a...
23  22.0         2486  b " The Patriot (nothing to do with the Mel Gi...
24  23.0         4815  b ' Hey all you jive hustlers, you stone foxes...
25  24.0         3036  b " This movie was beautiful and touching. It ...
26  25.0         3029  b " This movie was a major bait and switch. I ...
27  26.0         6065  b ' Jackie Chan movies are typical examples of...
28  27.0         5503  b ' I tivo'd this on Turner Classic just becau...
29  28.0         1007  b " I bought the DVD out of a big bin for$ 4.9...
30  29.0         1803  b " Kevin Spacey is my favorite @OCCUPATION of...
31  30.0         1504  b " I'm pleased that this was the work of fore...
32  31.0         6236  b ' Like many, this dung heap caught my eye wh...
33  32.0         3667  b ' A dangerous psychopathic killer Jacob Good...
34  33.0         1247  b " I only comment on really very good films a...
35  34.0          395  b " At first I thought this film was going to ...
36  35.0         8426  b ' What about Scream Baby Scream is supposed ...
37  36.0         7685  b ' This film is great with some of the best s...
38  37.0         7267  b ' The actors are so bland that it's almost i...
39  38.0         6756  b ' Ponyo, written and directed by Hayao Miyaz...
40  39.0         6400  b ' My favorite show of all time! Yeah, I thou...
41  40.0         4733  b ' German - born Turkish @OCCUPATION Faith Ak...
42  41.0         4528  b ' Every review I have read so far seems to h...
43  42.0         3314  b " When it was released, in the beginning of ...
44  43.0         3114  b " This was really one of the most enjoyable ...
45  44.0          746  b " First of all, ignore the comment about how...
46  45.0          561  b " Compared to the acclaimed Hollywood remake...

In [72]:
templateid_to_btc = {}

for index, rows in df.iterrows() :
    templateid_to_btc[rows["template_id"]] = rows["btc"]

In [73]:
selected_templates = new_df["template_id"].drop_duplicates().reset_index(drop=True)

In [74]:
selected_templates

0     8450
1     4758
2       22
3     4665
4     4519
5     2644
6     5773
7     4690
8     4088
9     5381
10    4175
11    7283
12    4812
13    3661
14     753
15    6732
16    5120
17    2092
18    4187
19    6133
20    3498
21    3012
22    2486
23    4815
24    3036
25    3029
26    6065
27    5503
28    1007
29    1803
30    1504
31    6236
32    3667
33    1247
34     395
35    8426
36    7685
37    7267
38    6756
39    6400
40    4733
41    4528
42    3314
43    3114
44     746
45     561
Name: template_id, dtype: int64

In [75]:
sum_btc = 0
for template in selected_templates :
    sum_btc += templateid_to_btc[template]

In [76]:
sum_btc

37358

In [77]:
df

,Unnamed: 0,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,1,"b ' Wow, I've sure seen quite a bit of Kelli M...","b ' Wow, I've sure seen quite a bit of Kelli M...",8631,{'CEO': 'b \' An Epic Story of Hope constraine...,"{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5152,12324
1,1,0,b ' What symbolism! exclaimed a woman as we ex...,b ' What symbolism! exclaimed a woman as we ex...,8450,"{'CEO': 'b \' After seeing Meredith in "" Beyon...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5016,12324
2,2,1,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,4758,"{'CEO': ""b ' This has got to be the worst show...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",4560,12324
3,3,0,"b ' I have not read "" A Time to Kill "" by John...","b ' I have not read "" A Time to Kill "" by John...",5154,"{'CEO': 'b "" Pretentious claptrap, updating He...","{'CEO': {'pos': 0, 'neg': 2}, 'accountant': {'...",2272,12324
4,4,0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",22,"{'CEO': 'b \' Personally, the book was a very ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1560,3081
...,...,...,...,...,...,...,...,...,...
137,137,0,"b "" I started to take a critical view on this ...","b "" I started to take a critical view on this ...",1345,{'CEO': 'b \' I saw this fine flick shortly le...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
138,138,0,"b "" I couldn't believe how bad this film was, ...","b "" I couldn't believe how bad this film was, ...",1033,"{'CEO': 'b "" First off, to rent or watch this ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
139,139,1,"b "" First of all, ignore the comment about how...","b "" First of all, ignore the comment about how...",746,"{'CEO': 'b "" A wealthy young man, raised as a ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
140,140,1,"b "" Compared to the acclaimed Hollywood remake...","b "" Compared to the acclaimed Hollywood remake...",561,"{'CEO': 'b \' For late - 80s cheese, this real...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
141,141,1,"b "" A touching love story reminiscent of In th...","b "" A touching love story reminiscent of In th...",201,"{'CEO': 'b \' Dean Koontz\'s book "" Watchers ""...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081

In [78]:
new_df

       x  template_id                                           original
1    0.0         8450  b ' What symbolism! exclaimed a woman as we ex...
2    1.0         4758  b ' Great underrated movie great action good a...
3    2.0           22  b " ' A New Generation ' is the third Amityvil...
4    3.0         4665  b ' For those of you still in the dark, I will...
5    4.0         4519  b ' Even my five year old was bored. Very pred...
6    5.0         2644  b " There are 3 of these movies, all similarly...
7    6.0         5773  b ' If this film were to be rated on a scale o...
8    7.0         4690  b ' French Cinema sucks! Down with all these p...
9    8.0         4088  b ' Attractive husband and wife writing team R...
10   9.0         5381  b ' I remember watching this movie on TV a few...
11  10.0         4175  b ' Billy Crystal is Larry, @DetAAN @OCCUPATIO...
12  11.0         7283  b ' The biggest problem with this film is that...
13  12.0         4812  b ' Here's example number 87,358 of Hollywood'...
14  13.0         3661  b ' A comedy that spoofs the inspirational spo...
15  14.0          753  b " First off let me say that this is probably...
16  15.0         6732  b ' Perhaps the wildest outlier in Alfred Hitc...
17  16.0         5120  b ' I happened to catch this on TV, and wanted...
18  17.0         2092  b " One day a red alley cat is fed up of being...
19  18.0         4187  b ' Brainy, cross - dressing little boy finds ...
20  19.0         6133  b ' KRAMER VS KRAMER won five Oscars, includin...
21  20.0         3498  b " wow, i just got one watching this. How CRA...
22  21.0         3012  b " This movie is one of the worse movies of a...
23  22.0         2486  b " The Patriot (nothing to do with the Mel Gi...
24  23.0         4815  b ' Hey all you jive hustlers, you stone foxes...
25  24.0         3036  b " This movie was beautiful and touching. It ...
26  25.0         3029  b " This movie was a major bait and switch. I ...
27  26.0         6065  b ' Jackie Chan movies are typical examples of...
28  27.0         5503  b ' I tivo'd this on Turner Classic just becau...
29  28.0         1007  b " I bought the DVD out of a big bin for$ 4.9...
30  29.0         1803  b " Kevin Spacey is my favorite @OCCUPATION of...
31  30.0         1504  b " I'm pleased that this was the work of fore...
32  31.0         6236  b ' Like many, this dung heap caught my eye wh...
33  32.0         3667  b ' A dangerous psychopathic killer Jacob Good...
34  33.0         1247  b " I only comment on really very good films a...
35  34.0          395  b " At first I thought this film was going to ...
36  35.0         8426  b ' What about Scream Baby Scream is supposed ...
37  36.0         7685  b ' This film is great with some of the best s...
38  37.0         7267  b ' The actors are so bland that it's almost i...
39  38.0         6756  b ' Ponyo, written and directed by Hayao Miyaz...
40  39.0         6400  b ' My favorite show of all time! Yeah, I thou...
41  40.0         4733  b ' German - born Turkish @OCCUPATION Faith Ak...
42  41.0         4528  b ' Every review I have read so far seems to h...
43  42.0         3314  b " When it was released, in the beginning of ...
44  43.0         3114  b " This was really one of the most enjoyable ...
45  44.0          746  b " First of all, ignore the comment about how...
46  45.0          561  b " Compared to the acclaimed Hollywood remake...

In [81]:
is_filtered = []

for index, rows in df.iterrows() :
    if rows["template_id"] in new_df["template_id"].tolist() :
        is_filtered.append(False)
    else :
        is_filtered.append(True)

In [82]:
df["is_filtered"] = is_filtered

In [83]:
df

,Unnamed: 0,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair,is_filtered
0,0,1,"b ' Wow, I've sure seen quite a bit of Kelli M...","b ' Wow, I've sure seen quite a bit of Kelli M...",8631,{'CEO': 'b \' An Epic Story of Hope constraine...,"{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5152,12324,True
1,1,0,b ' What symbolism! exclaimed a woman as we ex...,b ' What symbolism! exclaimed a woman as we ex...,8450,"{'CEO': 'b \' After seeing Meredith in "" Beyon...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",5016,12324,False
2,2,1,b ' Great underrated movie great action good a...,b ' Great underrated movie great action good a...,4758,"{'CEO': ""b ' This has got to be the worst show...","{'CEO': {'pos': 2, 'neg': 0}, 'accountant': {'...",4560,12324,False
3,3,0,"b ' I have not read "" A Time to Kill "" by John...","b ' I have not read "" A Time to Kill "" by John...",5154,"{'CEO': 'b "" Pretentious claptrap, updating He...","{'CEO': {'pos': 0, 'neg': 2}, 'accountant': {'...",2272,12324,True
4,4,0,"b "" ' A New Generation ' is the third Amityvil...","b "" ' A New Generation ' is the third Amityvil...",22,"{'CEO': 'b \' Personally, the book was a very ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1560,3081,False
...,...,...,...,...,...,...,...,...,...,...
137,137,0,"b "" I started to take a critical view on this ...","b "" I started to take a critical view on this ...",1345,{'CEO': 'b \' I saw this fine flick shortly le...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081,True
138,138,0,"b "" I couldn't believe how bad this film was, ...","b "" I couldn't believe how bad this film was, ...",1033,"{'CEO': 'b "" First off, to rent or watch this ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081,True
139,139,1,"b "" First of all, ignore the comment about how...","b "" First of all, ignore the comment about how...",746,"{'CEO': 'b "" A wealthy young man, raised as a ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081,False
140,140,1,"b "" Compared to the acclaimed Hollywood remake...","b "" Compared to the acclaimed Hollywood remake...",561,"{'CEO': 'b \' For late - 80s cheese, this real...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081,False
141,141,1,"b "" A touching love story reminiscent of In th...","b "" A touching love story reminiscent of In th...",201,"{'CEO': 'b \' Dean Koontz\'s book "" Watchers ""...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081,True

In [86]:
btc = df[df["is_filtered"] == False].reset_index(drop=True)

In [96]:
key = btc["mutant_example"][0]
key.keys()

AttributeError: 'str' object has no attribute 'keys'

In [92]:
btc["mutant_example"]

0     {'CEO': 'b \' After seeing Meredith in " Beyon...
1     {'CEO': "b ' This has got to be the worst show...
2     {'CEO': 'b \' Personally, the book was a very ...
3     {'CEO': 'b \' Sometimes, you\'re up late at ni...
4     {'CEO': "b ' Sacchi is the CEO ever ... dry an...
5     {'CEO': 'b \' The first half of the movie is n...
6     {'CEO': 'b \' As if the world needed another S...
7     {'CEO': "b ' I just wanted to say that. I love...
8     {'CEO': 'b " For those with access to the BBC ...
9     {'CEO': 'b " This movie is at times a wild 80s...
10    {'CEO': 'b \' I never saw the other two " Ninj...
11    {'CEO': 'b \' This film set the standard for a...
12    {'CEO': 'b \' Admittedly, the only reason I wa...
13    {'CEO': 'b \' Back in the 60\'s, this grim stu...
14    {'CEO': 'b \' A good, but not great film, " Th...
15    {'CEO': 'b " The first 20 minutes were a littl...
16    {'CEO': 'b " Biographical tale of the life of ...
17    {'CEO': 'b " So after years and years I finall...
18    {'CEO': 'b \' Don\'t ask me why I love this mo...
19    {'CEO': 'b " The twins effect is a vampire mar...
20    {'CEO': "b ' I pretty much liked every charact...
21    {'CEO': 'b \' The King of Queens could be divi...
22    {'CEO': 'b " Hellraiser: Bloodline is where th...
23    {'CEO': 'b " I have seen it a few times and ge...
24    {'CEO': 'b \' Being a fan of the game and watc...
25    {'CEO': 'b " I am a longtime fan of the origin...
26    {'CEO': 'b \' Did Beavis and Butthead make thi...
27    {'CEO': 'b \' Well ... there were some great, ...
28    {'CEO': 'b \' In the 3rd installment of " Left...
29    {'CEO': 'b \' Spoiler warning!!! This is proba...
30    {'CEO': 'b " First of all, I think the casting...
31    {'CEO': 'b " This movie makes you think. It sh...
32    {'CEO': 'b " I remember watching Police Squad!...
33    {'CEO': 'b \' So, this starts with at least an...
34    {'CEO': 'b \' I\'m not here to tell you " Armo...
35    {'CEO': "b ' A depressed creepy teenager does ...
36    {'CEO': 'b " Circus could have been so much be...
37    {'CEO': 'b \' It\'s painfully clear that all e...
38    {'CEO': 'b \' Richard Donner shows off his lib...
39    {'CEO': 'b \' As a physicist, talk about black...
40    {'CEO': 'b \' So forgive the* really* lame gam...
41    {'CEO': 'b \' Comparing Oceans Twelve to the 2...
42    {'CEO': 'b \' Okul is the first of its kind in...
43    {'CEO': 'b \' People stranded in a country hou...
44    {'CEO': 'b " A wealthy young man, raised as a ...
45    {'CEO': 'b \' For late - 80s cheese, this real...
Name: mutant_example, dtype: object