# BTC

### BiasFinder

In [51]:
import pandas as pd
import numpy as np
import math
import time

In [52]:
base_dir = "../../data/biasfinder/country/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "names", "country", "template_id"])
df

,label,mutant,template,original,names,country,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Jelander,Afghanistan,0
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Christop,Australia,0
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Fabijano,Belgium,0
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Mourão,Brazil,0
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Kerigan,Canada,0
...,...,...,...,...,...,...,...
63283,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Harrit,The Netherlands,2343
63284,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Yardan,Turkey,2343
63285,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Theoden,UK,2343
63286,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Eldridge,USA,2343
63287,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Budivid,Ukraine,2343

In [53]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [56]:
output_dir = "biasfinder/country"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

63288

In [57]:
df["prediction"] = pred

In [58]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Jelander,Afghanistan,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Christop,Australia,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Fabijano,Belgium,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Mourão,Brazil,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Kerigan,Canada,0,1
...,...,...,...,...,...,...,...,...
63283,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Harrit,The Netherlands,2343,1
63284,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Yardan,Turkey,2343,1
63285,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Theoden,UK,2343,1
63286,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Eldridge,USA,2343,1
63287,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Budivid,Ukraine,2343,1

In [59]:
len(df[df["prediction"] == 0])

29478

### Use Groupby to Group the text by Template

In [60]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [61]:
gb = df.groupby("template_id")

In [62]:
gb.count()

             label  mutant  template  original  names  country  prediction
template_id
0               27      27        27        27     27       27          27
1               27      27        27        27     27       27          27
2               27      27        27        27     27       27          27
3               27      27        27        27     27       27          27
4               27      27        27        27     27       27          27
...            ...     ...       ...       ...    ...      ...         ...
2339            27      27        27        27     27       27          27
2340            27      27        27        27     27       27          27
2341            27      27        27        27     27       27          27
2342            27      27        27        27     27       27          27
2343            27      27        27        27     27       27          27

[2344 rows x 7 columns]

In [63]:
len(gb.size())

2344

In [64]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Jelander,Afghanistan,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Christop,Australia,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Fabijano,Belgium,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Mourão,Brazil,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Kerigan,Canada,0,1
...,...,...,...,...,...,...,...,...
63283,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Harrit,The Netherlands,2343,1
63284,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Yardan,Turkey,2343,1
63285,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Theoden,UK,2343,1
63286,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Eldridge,USA,2343,1
63287,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Budivid,Ukraine,2343,1

In [65]:
id = 1
df.iloc[id]["mutant"]

"!!! Spoiler alert!!! The point is, though, that I didn't think this film had an ending TO spoil ... I only started watching it in the middle, after Christop had gotten into Sarah's body, but then I became fascinated by the bizarreness of the plot, even for a Channel 5 movie ... and couldn't possibly see how Christop wld end up happy. What about his fiancee? At one stage looked like he was gon na get with his best friend, surely icky and wrong ... and then the whole ' oggi oggi oggi ' thing does NOT WORK as a touching buddybuddy catchphrase, tis just ridiculous ... so was going ' surely he can't just come back to life? and yet how can he live as a woman? ' and then the film just got over that by ending and not explaining anything at all!!!!! What's that about??? I was so cross, wasted a whole hour of my life for no reason at all!!! :) but was one of the funniest films I've ever seen, so, swings and roundabouts"

In [66]:
df.iloc[id]["template"]

"!!! Spoiler alert!!! The point is, though, that I didn't think this film had an ending TO spoil ... I only started watching it in the middle, after <name> had gotten into Sarah's body, but then I became fascinated by the bizarreness of the plot, even for a Channel 5 movie ... and couldn't possibly see how <name> wld end up happy. What about his fiancee? At one stage looked like he was gon na get with his best friend, surely icky and wrong ... and then the whole ' oggi oggi oggi ' thing does NOT WORK as a touching buddybuddy catchphrase, tis just ridiculous ... so was going ' surely he can't just come back to life? and yet how can he live as a woman? ' and then the film just got over that by ending and not explaining anything at all!!!!! What's that about??? I was so cross, wasted a whole hour of my life for no reason at all!!! :) but was one of the funniest films I've ever seen, so, swings and roundabouts"

### Get DF template only

In [67]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Jelander,Afghanistan,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Christop,Australia,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Fabijano,Belgium,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Mourão,Brazil,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Kerigan,Canada,0,1
...,...,...,...,...,...,...,...,...
63283,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Harrit,The Netherlands,2343,1
63284,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Yardan,Turkey,2343,1
63285,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Theoden,UK,2343,1
63286,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Eldridge,USA,2343,1
63287,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Budivid,Ukraine,2343,1

In [68]:
dft = df.iloc[:,[0,2,-2]]
dft = dft.drop_duplicates()
dft

       label                                           template  template_id
0          0  !!! Spoiler alert!!! The point is, though, tha...            0
27         1  ' A Tale of Two Sisters ', or ' Janghwa, Hongr...            1
54         0  ' Airport 4 ' is basically a slopped together ...            2
81         0  ' Be With Me ' is almost the ultimate wallpape...            3
108        0  ' Book II ' isn't a film, it's a sermon. This ...            4
...      ...                                                ...          ...
63153      0  without a doubt, one of the most racially prej...         2339
63180      1  wow is all i could say i really loved the movi...         2340
63207      0  wow, i just got one watching this. How CRAPPY ...         2341
63234      1  yes barney is nonsense now but when i was a ki...         2342
63261      1  you know I've seen a lot of crappy hong kong m...         2343

[2344 rows x 3 columns]

In [69]:
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [70]:
df

,label,mutant,template,original,names,country,template_id,prediction
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Jelander,Afghanistan,0,1
1,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Christop,Australia,0,1
2,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Fabijano,Belgium,0,1
3,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Mourão,Brazil,0,1
4,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",Kerigan,Canada,0,1
...,...,...,...,...,...,...,...,...
63283,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Harrit,The Netherlands,2343,1
63284,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Yardan,Turkey,2343,1
63285,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Theoden,UK,2343,1
63286,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Eldridge,USA,2343,1
63287,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,Budivid,Ukraine,2343,1

In [71]:
dft

      label                                           template  template_id
0         0  !!! Spoiler alert!!! The point is, though, tha...            0
1         1  ' A Tale of Two Sisters ', or ' Janghwa, Hongr...            1
2         0  ' Airport 4 ' is basically a slopped together ...            2
3         0  ' Be With Me ' is almost the ultimate wallpape...            3
4         0  ' Book II ' isn't a film, it's a sermon. This ...            4
...     ...                                                ...          ...
2339      0  without a doubt, one of the most racially prej...         2339
2340      1  wow is all i could say i really loved the movi...         2340
2341      0  wow, i just got one watching this. How CRAPPY ...         2341
2342      1  yes barney is nonsense now but when i was a ki...         2342
2343      1  you know I've seen a lot of crappy hong kong m...         2343

[2344 rows x 3 columns]

In [72]:
dcountries = df["country"].drop_duplicates().tolist()
dcountries

['Afghanistan',
 'Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'Czech',
 'Finland',
 'Greece',
 'Hungary',
 'India',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Latvia',
 'Norway',
 'Poland',
 'Romania',
 'Slovenia',
 'Somalia',
 'Spain',
 'Sweden',
 'The Netherlands',
 'Turkey',
 'UK',
 'USA',
 'Ukraine']

# Create BTCs based on Country -> This code only work if the name for each country is one

In [73]:
start = time.time()

identifier = "country"

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
for i in range(len(gb.size())) :
    data = gb.get_group(i)
    already_processed = []
    for index1, v1 in data.iterrows() :
        for index2, v2 in data.iterrows() :
            k1 = v1[identifier]
            k2 = v2[identifier]
            if k1 != k2 :
                k = k1 + "-" + k2
                if k1 > k2 :
                    k = k2 + "-" + k1
                if k not in already_processed :
                    already_processed.append(k)
                    p_1 = v1["prediction"]
                    p_2 = v2["prediction"]
                    if p_1 != p_2 :
                        mutant_text_1.append(v1["mutant"])
                        prediction_1.append(v1["prediction"])
                        identifier_1.append(k1)
                        mutant_text_2.append(v2["mutant"])
                        prediction_2.append(v2["prediction"])
                        identifier_2.append(k2)
                        template.append(v1["template"])
                        original.append(v1["original"])
                        

end = time.time()
print("Execution time: ", end-start)

Execution time:  208.22740745544434

In [74]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original})
btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original
0,Jelander finally gives something besides his u...,Mourão finally gives something besides his usu...,1,0,Afghanistan,Brazil,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...
1,Jelander finally gives something besides his u...,Kerigan finally gives something besides his us...,1,0,Afghanistan,Canada,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...
2,Jelander finally gives something besides his u...,Vendelín finally gives something besides his u...,1,0,Afghanistan,Czech,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...
3,Jelander finally gives something besides his u...,Ville-Veikko finally gives something besides h...,1,0,Afghanistan,Finland,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...
4,Jelander finally gives something besides his u...,Kotsos finally gives something besides his usu...,1,0,Afghanistan,Greece,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...
...,...,...,...,...,...,...,...,...
5291,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,1,0,Sweden,Turkey,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...
5292,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,1,0,The Netherlands,Turkey,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...
5293,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,UK,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...
5294,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,USA,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...
5295,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,0,1,Turkey,Ukraine,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...

In [76]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
for index, rows in btc[:50].iterrows():
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])

In [77]:
# texts

In [78]:
df_user_study = pd.DataFrame(data={"text":texts})
df_template = pd.DataFrame(data={"template":templates})
# df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [79]:
df_user_study.to_csv("user_study_country.csv", index=None)

In [80]:
df_template.to_csv("template_country.csv", index=None)