# Accuracy of Fine-tuned Models

Evaluate the performance of fine-tuned models on 2 datasets:
 * IMDB (Large Movie Review Dataset)
 * Twitter Sentiment140

In [2]:
import pandas as pd
from utils import load_pickle, calculate_test_accuracy
import pickle
import numpy as np

In [3]:
models = ["bert-base-uncased", "bert-base-cased", "roberta-base", "xlnet-base-cased",
          "albert-base-v2", "microsoft/mpnet-base",
          "facebook/muppet-roberta-base", "google/electra-base-generator"]

tasks = ["imdb", "twitter_s140"]  # dataset used for fine-tuning


accuracies = {}
pearsoncors = {}
accuracies["imdb"] = []
accuracies["twitter_s140"] = []

for model in models:
    for task in tasks :
        test_accuracy = calculate_test_accuracy(task, model)
        accuracies[task].append(test_accuracy)

df = pd.DataFrame(data={
                        "model" : models,
                        "accuracy-imdb": accuracies["imdb"],
                        "accuracy-twitter-s140": accuracies["twitter_s140"]
                        })

df

                           model  accuracy-imdb  accuracy-twitter-s140
0              bert-base-uncased          92.57                  85.77
1                bert-base-cased          89.12                  83.54
2                   roberta-base          92.84                  86.24
3               xlnet-base-cased          93.88                  83.45
4                 albert-base-v2          89.45                  82.96
5           microsoft/mpnet-base          93.62                  84.36
6   facebook/muppet-roberta-base          95.29                  85.69
7  google/electra-base-generator          91.20                  84.39