# Accuracy of Fine-tuned Model for each Dataset

In [1]:
import pandas as pd
from utils import calculate_test_accuracy

## IMDB (Large Movie Review Dataset)

In [2]:
models = ["bert-base-uncased", "bert-base-cased", "roberta-base", "xlnet-base-cased",
          "albert-base-v2", "microsoft/mpnet-base", "microsoft/deberta-base",
          "facebook/muppet-roberta-base", "google/electra-base-generator"]

task = "imdb"  # dataset used for fine-tuning

df = pd.DataFrame(columns=["model", "accuracy"])

for model in models:
    test_accuracy = calculate_test_accuracy(task, model)
    df = df.append(
        {
            "model": model,
            "accuracy": test_accuracy
        },
        ignore_index=True)

df

                           model  accuracy
0              bert-base-uncased     92.57
1                bert-base-cased     89.12
2                   roberta-base     92.84
3               xlnet-base-cased     93.88
4                 albert-base-v2     89.45
5           microsoft/mpnet-base     93.62
6         microsoft/deberta-base     93.42
7   facebook/muppet-roberta-base     95.29
8  google/electra-base-generator     91.20

## Twitter Semeval

In [4]:
task = "twitter_semeval"  # dataset used for fine-tuning

df = pd.DataFrame(columns=["model", "accuracy"])

for model in models:
    test_accuracy = calculate_test_accuracy(task, model)
    df = df.append(
        {
            "model": model,
            "accuracy": test_accuracy
        },
        ignore_index=True)

df

                           model  accuracy
0              bert-base-uncased     86.92
1                bert-base-cased     85.76
2                   roberta-base     88.37
3               xlnet-base-cased     87.21
4                 albert-base-v2     85.17
5           microsoft/mpnet-base     90.70
6         microsoft/deberta-base     90.99
7   facebook/muppet-roberta-base     90.70
8  google/electra-base-generator     88.66

## Twitter Sentiment140

In [5]:
task = "twitter_s140"  # dataset used for fine-tuning

df = pd.DataFrame(columns=["model", "accuracy"])

for model in models:
    test_accuracy = calculate_test_accuracy(task, model)
    df = df.append(
        {
            "model": model,
            "accuracy": test_accuracy
        },
        ignore_index=True)

df

                           model  accuracy
0              bert-base-uncased     82.76
1                bert-base-cased     80.71
2                   roberta-base     83.64
3               xlnet-base-cased     81.86
4                 albert-base-v2     83.35
5           microsoft/mpnet-base     82.28
6         microsoft/deberta-base     83.83
7   facebook/muppet-roberta-base     81.67
8  google/electra-base-generator     79.87