# Number of Discordant Pairs

In [8]:
import pandas as pd
import numpy as np
import math

### Get Original Data

In [65]:
# dir_name = "eec"
dir_name = "imdb_mutant"
dfm = pd.read_csv("../data/" + dir_name + "/male/test.csv", header=None, sep="\t", names=["label", "text", "template"])
dff = pd.read_csv("../data/" + dir_name + "/female/test.csv", header=None, sep="\t", names=["label", "text", "template"])

In [66]:
dfm

,label,text,template
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri..."
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri..."
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri..."
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri..."
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri..."
...,...,...,...
139295,1,"First, I'm a huge Justin fan. I grew up knowin...","First, I'm a huge Buddy Holly fan. I grew up k..."
139296,1,"First, I'm a huge Terrence fan. I grew up know...","First, I'm a huge Buddy Holly fan. I grew up k..."
139297,1,"First, I'm a huge Roger fan. I grew up knowing...","First, I'm a huge Buddy Holly fan. I grew up k..."
139298,1,"First, I'm a huge Torrance fan. I grew up know...","First, I'm a huge Buddy Holly fan. I grew up k..."
139299,1,"First, I'm a huge Ryan fan. I grew up knowing ...","First, I'm a huge Buddy Holly fan. I grew up k..."

### Get the result from prediction

In [67]:
output_dir = "exp1_on_imdb"
result_dir = "../result/" + output_dir + "/"

rfm = result_dir + "results_data_male.txt"
rff = result_dir + "results_data_female.txt"

def read_from_txt(fpath) :    
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    return pred

mpred = read_from_txt(rfm)
fpred = read_from_txt(rff)

print(len(mpred))
print(len(fpred))

139300
139300

In [70]:
dfm["prediction"] = mpred
dff["prediction"] = fpred

#### Group by Template

In [19]:
dfm["template"] = dfm["template"].astype("category")
dfm["template_id"] = dfm["template"].cat.codes

dfm

,label,text,template,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
...,...,...,...,...
139295,1,"First, I'm a huge Justin fan. I grew up knowin...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139296,1,"First, I'm a huge Terrence fan. I grew up know...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139297,1,"First, I'm a huge Roger fan. I grew up knowing...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139298,1,"First, I'm a huge Torrance fan. I grew up know...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139299,1,"First, I'm a huge Ryan fan. I grew up knowing ...","First, I'm a huge Buddy Holly fan. I grew up k...",1286

In [21]:
dff["template"] = dff["template"].astype("category")
dff["template_id"] = dff["template"].cat.codes

dff

,label,text,template,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",2099
...,...,...,...,...
139295,1,"First, I'm a huge Melanie fan. I grew up knowi...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139296,1,"First, I'm a huge Tanisha fan. I grew up knowi...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139297,1,"First, I'm a huge Nancy fan. I grew up knowing...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139298,1,"First, I'm a huge Tia fan. I grew up knowing w...","First, I'm a huge Buddy Holly fan. I grew up k...",1286
139299,1,"First, I'm a huge Stephanie fan. I grew up kno...","First, I'm a huge Buddy Holly fan. I grew up k...",1286

In [23]:
dfm.groupby("template_id").get_group(0)

,label,text,template,template_id
48380,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48381,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48382,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48383,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48384,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48385,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48386,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48387,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48388,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48389,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48390,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48391,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48392,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48393,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48394,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48395,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48396,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48397,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48398,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48399,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0

In [24]:
dff.groupby("template_id").get_group(0)

,label,text,template,template_id
48380,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48381,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48382,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48383,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48384,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48385,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48386,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48387,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48388,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48389,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48390,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48391,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48392,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48393,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48394,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48395,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48396,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48397,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48398,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0
48399,1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",0

### Implementation

In [27]:
mgb = dfm.groupby("template_id")
fgb = dff.groupby("template_id")

#### Using Group By

In [68]:
df = pd.DataFrame(columns=["male_text", "female_text", "male_prediction", "female_prediction"])
# df = df.append({"male_text" : "abc", "female_text": "def", "male_prediction" : 1, "female_prediction": 0}, ignore_index=True)
df

Empty DataFrame
Columns: [male_text, female_text, male_prediction, female_prediction]
Index: []

In [51]:
# for i in range(len(mgb.size())) :
for i in range(3) :
    mdata = mgb.get_group(i)
    fdata = fgb.get_group(i)
    for mindex, mrow in mdata.iterrows():
        for findex, frow in fdata.iterrows():
            df = df.append({"male_text" : mrow["text"], "female_text": frow["text"], "male_prediction" : mrow["label"], "female_prediction": frow["label"]}, ignore_index=True)

In [48]:
df["discordant"] = df["male_prediction"] != df["female_prediction"]

In [49]:
df

,male_text,female_text,male_prediction,female_prediction,discordant
0,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",1,0,True
1,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",1,0,True
2,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",1,0,True
3,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",1,0,True
4,"""Lets swap Murders- your wife, my father""- se...","""Lets swap Murders- your wife, my father""- se...",1,0,True
...,...,...,...,...,...
1195,"Crackerjack, starring Mick Malloy & Judith Lu...","Crackerjack, starring Mick Malloy & Judith Lu...",1,0,True
1196,"Crackerjack, starring Mick Malloy & Judith Lu...","Crackerjack, starring Mick Malloy & Judith Lu...",1,0,True
1197,"Crackerjack, starring Mick Malloy & Judith Lu...","Crackerjack, starring Mick Malloy & Judith Lu...",1,0,True
1198,"Crackerjack, starring Mick Malloy & Judith Lu...","Crackerjack, starring Mick Malloy & Judith Lu...",1,0,True
1199,"Crackerjack, starring Mick Malloy & Judith Lu...","Crackerjack, starring Mick Malloy & Judith Lu...",1,0,True

#### Using 20 texts for each iteration

In [69]:
df = pd.DataFrame(columns=["male_text", "female_text", "male_prediction", "female_prediction"])
# df = df.append({"male_text" : "abc", "female_text": "def", "male_prediction" : 1, "female_prediction": 0}, ignore_index=True)
df

Empty DataFrame
Columns: [male_text, female_text, male_prediction, female_prediction]
Index: []

In [71]:
template_size = 20
lb = 0
while lb < len(dfm) :
# while lb < 20 :
    ub = lb + template_size
    mdata = dfm[lb:ub]
    fdata = dff[lb:ub]
    for mindex, mrow in mdata.iterrows():
        for findex, frow in fdata.iterrows():
            df = df.append({"male_text" : mrow["text"], "female_text": frow["text"], "male_prediction" : mrow["prediction"], "female_prediction": frow["prediction"]}, ignore_index=True)
    lb = ub

KeyboardInterrupt:

In [ ]:
df

In [ ]:
df["discordant"] = df["male_prediction"] != df["female_prediction"]
df

In [ ]:
len(df[df["discordant"] == True])