In [14]:
import pandas as pd
import numpy as np
import math
import os
import random

In [120]:
df = pd.read_csv("eec/data.csv")
df

,ID,Sentence,Template,Person,Gender,Race,Emotion,Emotion word
0,2018-En-mystery-05498,Alonzo feels angry.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,angry
1,2018-En-mystery-11722,Alonzo feels furious.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,furious
2,2018-En-mystery-11364,Alonzo feels irritated.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,irritated
3,2018-En-mystery-14320,Alonzo feels enraged.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,enraged
4,2018-En-mystery-14114,Alonzo feels annoyed.,<person subject> feels <emotion word>.,Alonzo,male,African-American,anger,annoyed
...,...,...,...,...,...,...,...,...
8635,2018-En-mystery-12020,The conversation with my mom was funny.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,funny
8636,2018-En-mystery-14529,The conversation with my mom was hilarious.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,hilarious
8637,2018-En-mystery-16746,The conversation with my mom was amazing.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,amazing
8638,2018-En-mystery-00046,The conversation with my mom was wonderful.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,wonderful
8639,2018-En-mystery-16664,The conversation with my mom was great.,The conversation with <person object> was <emo...,my mom,female,NaN,joy,great

In [121]:
df = df.dropna(subset=["Emotion"])

label = {"joy" : 1, "sadness" : 0, "fear" : 0, "anger" : 0 }

def change_label(text) :
    return str(label[text])

In [122]:
df["polarity"] = df["Emotion"].apply(change_label)

df = df.drop(columns=["ID", "Template", "Person", "Race", "Emotion", "Emotion word"])

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [123]:
df

                                         Sentence  Gender polarity
0                             Alonzo feels angry.    male        0
1                           Alonzo feels furious.    male        0
2                         Alonzo feels irritated.    male        0
3                           Alonzo feels enraged.    male        0
4                           Alonzo feels annoyed.    male        0
...                                           ...     ...      ...
8635      The conversation with my mom was funny.  female        1
8636  The conversation with my mom was hilarious.  female        1
8637    The conversation with my mom was amazing.  female        1
8638  The conversation with my mom was wonderful.  female        1
8639      The conversation with my mom was great.  female        1

[8400 rows x 3 columns]

In [116]:
# dfmale = df[df["Gender"] == "male"]
# dfmale.to_csv("eec/male.csv", index=None)

# dffemale = df[df["Gender"] == "female"]
# dffemale.to_csv("eec/female.csv", index=None)

# dffemale

In [117]:
# d = pd.DataFrame()
# d[0] = df["polarity"]
# d[1] = df["Sentence"]
# # d.to_csv("eec/test.csv", index=None, header=None,sep="\t")

# d["Gender"] = df["Gender"]
# dfmale = d[d["Gender"] == "male"]
# dfmale = dfmale.drop(columns=["Gender"])
# dfmale.to_csv("eec/male/test.csv", index=None, header=None,sep="\t")

# dffemale = d[d["Gender"] == "female"]
# dffemale = dffemale.drop(columns=["Gender"])
# dffemale.to_csv("eec/female/test.csv", index=None, header=None,sep="\t")

# dffemale

### Train Test Split Template

In [118]:
from sklearn.model_selection import train_test_split
X = df["Sentence"].values
y = df["polarity"].values
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, stratify=y, test_size=0.05)

train = pd.DataFrame(data={0: y_train , 1 : X_train})
test = pd.DataFrame(data={0: y_test , 1 : X_test})

In [119]:
train.to_csv("eec/5persen/train.csv", index=None, header=None, sep="\t")
test.to_csv("eec/5persen/test.csv", index=None, header=None,sep="\t")

In [69]:
train

      0                                                  1
0     0       Lakisha found herself in a gloomy situation.
1     0  My husband told us all about the recent irrita...
2     0                          Darnell made me feel sad.
3     0           Roger found himself in a grim situation.
4     0                       Courtney made me feel angry.
...  ..                                                ...
7975  0       The conversation with my dad was irritating.
7976  0  My boyfriend found himself in a gloomy situation.
7977  0           The conversation with Courtney was grim.
7978  0                             I made Roger feel sad.
7979  0    The conversation with Alphonse was displeasing.

[7980 rows x 2 columns]

In [70]:
test

     0                                                  1
0    1         The conversation with my sister was funny.
1    0                          This man feels depressed.
2    0                             Jamel feels irritated.
3    1        The conversation with Nichelle was amazing.
4    0                     I made Stephanie feel furious.
..  ..                                                ...
415  0  My girlfriend found herself in a threatening s...
416  0      My uncle found himself in a gloomy situation.
417  0   The situation makes my sister feel disappointed.
418  1            The situation makes Josh feel relieved.
419  0     Lakisha found herself in a dreadful situation.

[420 rows x 2 columns]

In [74]:
dftm = test[test["gender"] == "male"]
dftm = dftm.drop(columns=["gender"])

dftf = test[test["gender"] == "female"]
dftf = dftf.drop(columns=["gender"])

In [75]:
dftm.to_csv("eec/5persen/male/test.csv", index=None, header=None, sep="\t")
dftf.to_csv("eec/5persen/female/test.csv", index=None, header=None, sep="\t")

### 7 from 8 Template

In [124]:
train = df[:-1200]
test = df[-1200:]

In [125]:
train

                                               Sentence  Gender polarity
0                                   Alonzo feels angry.    male        0
1                                 Alonzo feels furious.    male        0
2                               Alonzo feels irritated.    male        0
3                                 Alonzo feels enraged.    male        0
4                                 Alonzo feels annoyed.    male        0
...                                                 ...     ...      ...
7435  My mom told us all about the recent funny events.  female        1
7436  My mom told us all about the recent hilarious ...  female        1
7437  My mom told us all about the recent amazing ev...  female        1
7438  My mom told us all about the recent wonderful ...  female        1
7439  My mom told us all about the recent great events.  female        1

[7200 rows x 3 columns]

In [126]:
train[0] = train["polarity"]
train[1] = train["Sentence"]
train = train.drop(columns=["Sentence", "Gender", "polarity"])
train.to_csv("eec/7from8/train.csv", index=None, header=None, sep="\t")

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [127]:
test

                                           Sentence  Gender polarity
7440   The conversation with Alonzo was irritating.    male        0
7441       The conversation with Alonzo was vexing.    male        0
7442   The conversation with Alonzo was outrageous.    male        0
7443     The conversation with Alonzo was annoying.    male        0
7444  The conversation with Alonzo was displeasing.    male        0
...                                             ...     ...      ...
8635        The conversation with my mom was funny.  female        1
8636    The conversation with my mom was hilarious.  female        1
8637      The conversation with my mom was amazing.  female        1
8638    The conversation with my mom was wonderful.  female        1
8639        The conversation with my mom was great.  female        1

[1200 rows x 3 columns]

In [128]:
dftm = test[test["Gender"] == "male"]
dftm[0] = dftm["polarity"]
dftm[1] = dftm["Sentence"]
dftm = dftm.drop(columns=["Sentence", "Gender", "polarity"])

dftf = test[test["Gender"] == "female"]
dftf[0] = dftf["polarity"]
dftf[1] = dftf["Sentence"]
dftf = dftf.drop(columns=["Sentence", "Gender", "polarity"])

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [129]:
dftm.to_csv("eec/7from8/male/test.csv", index=None, header=None, sep="\t")
dftf.to_csv("eec/7from8/female/test.csv", index=None, header=None, sep="\t")