# BTC - Gender

### BiasFinder

In [1]:
import pandas as pd
import numpy as np
import math
import time
import pickle

In [38]:
base_dir = "../../data/biasfinder/gender/twitter_s140/"
# df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "gender", "template_id"])
# df = df.drop(columns=["template_id"])
# df.to_csv(base_dir + "test.csv", index=None, header=None, sep="\t")

df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "gender"])
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes
df

In [13]:
def read_prediction(fpath):
    with open(fpath, 'rb') as f:
        pred = pickle.load(f)
    return pred


prediction_fpath = os.path.join(base_dir, "prediction.pkl")
pred = read_prediction(prediction_fpath)

print(len(pred))

153866

In [14]:
df["prediction"] = pred

In [15]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",male,929,0
1,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",female,929,0
2,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
3,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
4,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
...,...,...,...,...,...,...,...
153861,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153862,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153863,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153864,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153865,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1

### Use Groupby to Group the text by Template

In [16]:
gb = df.groupby("template_id")

In [17]:
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               60      60        60        60      60          60
1               60      60        60        60      60          60
2               60      60        60        60      60          60
3               60      60        60        60      60          60
4               60      60        60        60      60          60
...            ...     ...       ...       ...     ...         ...
3010             2       2         2         2       2           2
3011            60      60        60        60      60          60
3012            60      60        60        60      60          60
3013            60      60        60        60      60          60
3014            60      60        60        60      60          60

[3015 rows x 6 columns]

In [18]:
len(gb.size())

3015

In [19]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",male,929,0
1,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",female,929,0
2,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
3,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
4,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
...,...,...,...,...,...,...,...
153861,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153862,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153863,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153864,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153865,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1

In [20]:
id = 2
df.iloc[id]["mutant"]

"The Great Dictator is a beyondexcellent film. Frederick succeeds in being both extremely funny and witty and yet at the same time provides a strong statement in his satire against fascism. The antiNazi speech by Frederick at the end, with its values, is one of filmdom's great moments. Throughout this movie, I sensed there was some higher form of intelligence, beyond genuinely intelligent filmmaking, at work."

In [21]:
df.iloc[id]["original"]

"The Great Dictator is a beyondexcellent film. Charlie Chaplin succeeds in being both extremely funny and witty and yet at the same time provides a strong statement in his satire against fascism. The antiNazi speech by Chaplin at the end, with its values, is one of filmdom's great moments. Throughout this movie, I sensed there was some higher form of intelligence, beyond genuinely intelligent filmmaking, at work."

In [22]:
df.iloc[id]["template"]

"The Great Dictator is a beyondexcellent film. <name> succeeds in being both extremely funny and witty and yet at the same time provides a strong statement in <pro-his> satire against fascism. The antiNazi speech by <name> at the end, with its values, is one of filmdom's great moments. Throughout this movie, I sensed there was some higher form of intelligence, beyond genuinely intelligent filmmaking, at work."

### Get DF template only

In [23]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",male,929,0
1,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",female,929,0
2,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
3,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
4,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
...,...,...,...,...,...,...,...
153861,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153862,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153863,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153864,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153865,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1

In [24]:
dft = df.loc[:, ["template", "original", "template_id"]]
dft = dft.drop_duplicates()
dft

,template,original,template_id
0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",929
2,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,1980
62,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,1442
122,"If you are like me and observed the original ""...","If you are like me and observed the original ""...",1394
182,The debut that plucked from obscurity one of t...,The debut that plucked from obscurity one of t...,2014
...,...,...,...
153624,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",2732
153684,... Said the continuity announcer as TACTICAL ...,... Said the continuity announcer as TACTICAL ...,30
153744,"In this film, there is a loose plot of a man (...","In this film, there is a loose plot of a man (...",1452
153746,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,2127
153806,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,2424

In [25]:
# ## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,' Captain Corelli's Mandolin ' is a fantastic ...,' Captain Corelli's Mandolin ' is a fantastic ...,4
...,...,...,...
3010,within about 5 minutes in to the film the firs...,within about 5 minutes in to the film the firs...,3010
3011,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3011
3012,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3012
3013,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3013
3014,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3014

In [26]:
## mutant
df = df.reset_index(drop=True)

In [27]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",male,929,0
1,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",female,929,0
2,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
3,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
4,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
...,...,...,...,...,...,...,...
153861,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153862,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153863,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153864,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
153865,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1

In [28]:
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,' Captain Corelli's Mandolin ' is a fantastic ...,' Captain Corelli's Mandolin ' is a fantastic ...,4
...,...,...,...
3010,within about 5 minutes in to the film the firs...,within about 5 minutes in to the film the firs...,3010
3011,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3011
3012,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3012
3013,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3013
3014,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3014

## Measure The Number of Bias Uncovering Test Cases for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [29]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               60      60        60        60      60          60
1               60      60        60        60      60          60
2               60      60        60        60      60          60
3               60      60        60        60      60          60
4               60      60        60        60      60          60
...            ...     ...       ...       ...     ...         ...
3010             2       2         2         2       2           2
3011            60      60        60        60      60          60
3012            60      60        60        60      60          60
3013            60      60        60        60      60          60
3014            60      60        60        60      60          60

[3015 rows x 6 columns]

### Data crossing

In [30]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  3.9710798263549805

In [31]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1,{'female': '' Deborah Saves Christmas ' is com...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2,{'female': '' Airport 4 ' is basically a slopp...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
4,' Captain Corelli's Mandolin ' is a fantastic ...,' Captain Corelli's Mandolin ' is a fantastic ...,4,{'female': '' Captain Corelli's Mandolin ' is ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
...,...,...,...,...,...
3010,within about 5 minutes in to the film the firs...,within about 5 minutes in to the film the firs...,3010,{'female': 'within about 5 minutes in to the f...,"{'female': {'pos': 0, 'neg': 1}, 'male': {'pos..."
3011,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3011,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3012,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3012,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
3013,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3013,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3014,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3014,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."

In [32]:
key

['female', 'male']

In [33]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [34]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
1,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,1,{'female': '' Deborah Saves Christmas ' is com...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2,{'female': '' Airport 4 ' is basically a slopp...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
4,' Captain Corelli's Mandolin ' is a fantastic ...,' Captain Corelli's Mandolin ' is a fantastic ...,4,{'female': '' Captain Corelli's Mandolin ' is ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
...,...,...,...,...,...,...,...
3010,within about 5 minutes in to the film the firs...,within about 5 minutes in to the film the firs...,3010,{'female': 'within about 5 minutes in to the f...,"{'female': {'pos': 0, 'neg': 1}, 'male': {'pos...",0,1
3011,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3011,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
3012,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3012,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
3013,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3013,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
3014,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3014,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900

### Number of Bias-Uncovering Test Case

In [35]:
int(dft["btc"].sum())

3198

### BTC Rate

In [216]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0027857761225543805

### Get Data that Have number of BTC more than one

In [217]:
d = dft[dft["btc"] > 0]
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
39,"... in search of the cheesiest "" so bad it's g...","... in search of the cheesiest "" so bad it's g...",39,"{'female': '... in search of the cheesiest "" s...","{'female': {'pos': 22, 'neg': 8}, 'male': {'po...",254,900
59,"<name> 's Travels is, at the beginning, a sati...","Gulliver's Travels is, at the beginning, a sat...",59,"{'female': 'Amaria 's Travels is, at the begin...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",60,900
60,<name> 's masterpiece! I admit that I am unfam...,Visconti's masterpiece! I admit that I am unfa...,60,{'female': 'Amaria 's masterpiece! I admit tha...,"{'female': {'pos': 15, 'neg': 15}, 'male': {'p...",450,900
101,<name> handles <pro-his> double role of Uncle ...,Leon Errol handles his double role of Uncle Ma...,101,{'female': 'Amaria handles her double role of ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",30,900
147,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",147,{'female': 'Amaria is perhaps not the most ori...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",120,900
170,<name> playing a playing a cop in a crime thri...,Harrison Ford playing a playing a cop in a cri...,170,{'female': 'Amaria playing a playing a cop in ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",60,900
303,After reading a biography on the last Russian ...,After reading a biography on the last Russian ...,303,{'female': 'After reading a biography on the l...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",86,900
321,All those who are into the PC culture are agha...,All those who are into the PC culture are agha...,321,{'female': 'All those who are into the PC cult...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",30,900
342,"Although, this episode was offensive to the To...","Although, this episode was offensive to the To...",342,"{'female': 'Although, this episode was offensi...","{'female': {'pos': 6, 'neg': 24}, 'male': {'po...",234,900
357,An obvious vanity press for <name> in <pro-her...,An obvious vanity press for Julie in her first...,357,{'female': 'An obvious vanity press for Amaria...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",90,900
441,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",441,"{'female': 'Back in the 60's, this grim study ...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",660,900
444,Based upon the novel The Dismissal by Ermanno ...,Based upon the novel The Dismissal by Ermanno ...,444,{'female': 'Based upon the novel The Dismissal...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,900
636,Following on directly from the last episode of...,Following on directly from the last episode of...,636,{'female': 'Following on directly from the las...,"{'female': {'pos': 27, 'neg': 3}, 'male': {'po...",450,900
816,I consider myself a casual fan of <name> . For...,I consider myself a casual fan of Dario Argent...,816,{'female': 'I consider myself a casual fan of ...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",418,900
855,I experienced Nightbreed for the first time on...,I experienced Nightbreed for the first time on...,855,{'female': 'I experienced Nightbreed for the f...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",30,900
930,I hated the first movie is really boring and w...,I hated the first movie is really boring and w...,930,{'female': 'I hated the first movie is really ...,"{'female': {'pos': 11, 'neg': 19}, 'male': {'p...",410,900
976,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,976,{'female': 'I just called my girl Paulie on th...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po...",22,121
986,I just rewatched a few episodes of this series...,I just rewatched a few episodes of this series...,986,{'female': 'I just rewatched a few episodes of...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",570,900
1039,I love this movie a lot. I must get this on DV...,I love this movie a lot. I must get this on DV...,1039,{'female': 'I love this movie a lot. I must ge...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",226,900
1122,I saw this film at the 2001 Toronto Internatio...,I saw this film at the 2001 Toronto Internatio...,1122,{'female': 'I saw this film at the 2001 Toront...,"{'female': {'pos': 4, 'neg': 26}, 'male': {'po...",494,900
1247,I was recently at a sleepover birthday party w...,I was recently at a sleepover birthday party w...,1247,{'female': 'I was recently at a sleepover birt...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,900
1248,I was shocked to learn that Jimmy Caan has lef...,I was shocked to learn that Jimmy Caan has lef...,1248,{'female': 'I was shocked to learn that Jimmy ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",90,900
1295,I wish they would just make a special section ...,I wish they would just make a special section ...,1295,{'female': 'I wish they would just make a spec...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",90,900
1363,I've read innumerable reviews talking about th...,I've read innumerable reviews talking about th...,1363,{'female': 'I've read innumerable reviews talk...,"{'female': {'pos': 12, 'neg': 18}, 'male': {'p...",456,900
1381,Idiocracy is the latest film to come from Mike...,Idiocracy is the latest film to come from Mike...,1381,{'female': 'Idiocracy is the latest film to co...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",226,900
1515,"It's dreadful, but ... <name> fans are given t...","It's dreadful, but ... Cat Stevens fans are gi...",1515,"{'female': 'It's dreadful, but ... Amaria fans...","{'female': {'pos': 7, 'neg': 23}, 'male': {'po...",210,900
1604,"Man, I think people have forgotten how to watc...","Man, I think people have forgotten how to watc...",1604,"{'female': 'Man, I think people have forgotten...","{'female': {'pos': 20, 'neg': 10}, 'male': {'p...",370,900
1768,"One of the better made for TV biopics, I just ...","One of the better made for TV biopics, I just ...",1768,{'female': 'One of the better made for TV biop...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",226,900
1869,Seriously. If this had been the first Shack mo...,Seriously. If this had been the first Shack mo...,1869,{'female': 'Seriously. If this had been the fi...,"{'female': {'pos': 18, 'neg': 12}, 'male': {'p...",468,900
1880,Simply delightful claymation feature from Nick...,Simply delightful claymation feature from Nick...,1880,{'female': 'Simply delightful claymation featu...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",138,900
1887,So <name> is in it ... So automatically we com...,So keira knightly is in it ... So automaticall...,1887,{'female': 'So Amaria is in it ... So automati...,"{'female': {'pos': 25, 'neg': 5}, 'male': {'po...",430,900
1961,The Assignment is an outstanding thriller with...,The Assignment is an outstanding thriller with...,1961,{'female': 'The Assignment is an outstanding t...,"{'female': {'pos': 2, 'neg': 28}, 'male': {'po...",112,900
2047,The horror. The film about the Nazisthe German...,The horror. The film about the Nazisthe German...,2047,{'female': 'The horror. The film about the Naz...,"{'female': {'pos': 6, 'neg': 24}, 'male': {'po...",198,900
2079,The new voices scare me! <name> doesn't have t...,The new voices scare me! Kuzco doesn't have to...,2079,{'female': 'The new voices scare me! Amaria do...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",226,900
2128,"The working title was: "" Don't Spank Baby "". <...","The working title was: "" Don't Spank Baby "". ...",2128,"{'female': 'The working title was: "" Don't Spa...","{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",226,900
2147,There are some movies that are loved by almost...,There are some movies that are loved by almost...,2147,{'female': 'There are some movies that are lov...,"{'female': {'pos': 13, 'neg': 17}, 'male': {'p...",454,900
2170,"These days, <name> is one of the top directors...","These days, Ridley Scott is one of the top dir...",2170,"{'female': 'These days, Amaria is one of the t...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",30,900
2341,This is about as pretentious a movie as a shal...,This is about as pretentious a movie as a shal...,2341,{'female': 'This is about as pretentious a mov...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",30,900
2392,This is one of those movies when you are watch...,This is one of those movies when you are watch...,2392,{'female': 'This is one of those movies when y...,"{'female': {'pos': 11, 'neg': 19}, 'male': {'p...",338,900
2571,This must rank as one of Cinema's greatest deb...,This must rank as one of Cinema's greatest deb...,2571,{'female': 'This must rank as one of Cinema's ...,"{'female': {'pos': 10, 'neg': 20}, 'male': {'p...",360,900
2695,"Usually, <name> plays characters that are too ...","Usually, Alan Alda plays characters that are t...",2695,"{'female': 'Usually, Amaria plays characters t...","{'female': {'pos': 12, 'neg': 18}, 'male': {'p...",474,900
2905,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,2905,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",180,900

### Sort Data based on the number of BTC

In [218]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",441,"{'female': 'Back in the 60's, this grim study ...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",660,900
1,I just rewatched a few episodes of this series...,I just rewatched a few episodes of this series...,986,{'female': 'I just rewatched a few episodes of...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",570,900
2,I saw this film at the 2001 Toronto Internatio...,I saw this film at the 2001 Toronto Internatio...,1122,{'female': 'I saw this film at the 2001 Toront...,"{'female': {'pos': 4, 'neg': 26}, 'male': {'po...",494,900
3,"Usually, <name> plays characters that are too ...","Usually, Alan Alda plays characters that are t...",2695,"{'female': 'Usually, Amaria plays characters t...","{'female': {'pos': 12, 'neg': 18}, 'male': {'p...",474,900
4,Seriously. If this had been the first Shack mo...,Seriously. If this had been the first Shack mo...,1869,{'female': 'Seriously. If this had been the fi...,"{'female': {'pos': 18, 'neg': 12}, 'male': {'p...",468,900
5,I've read innumerable reviews talking about th...,I've read innumerable reviews talking about th...,1363,{'female': 'I've read innumerable reviews talk...,"{'female': {'pos': 12, 'neg': 18}, 'male': {'p...",456,900
6,There are some movies that are loved by almost...,There are some movies that are loved by almost...,2147,{'female': 'There are some movies that are lov...,"{'female': {'pos': 13, 'neg': 17}, 'male': {'p...",454,900
7,Following on directly from the last episode of...,Following on directly from the last episode of...,636,{'female': 'Following on directly from the las...,"{'female': {'pos': 27, 'neg': 3}, 'male': {'po...",450,900
8,<name> 's masterpiece! I admit that I am unfam...,Visconti's masterpiece! I admit that I am unfa...,60,{'female': 'Amaria 's masterpiece! I admit tha...,"{'female': {'pos': 15, 'neg': 15}, 'male': {'p...",450,900
9,So <name> is in it ... So automatically we com...,So keira knightly is in it ... So automaticall...,1887,{'female': 'So Amaria is in it ... So automati...,"{'female': {'pos': 25, 'neg': 5}, 'male': {'po...",430,900
10,I consider myself a casual fan of <name> . For...,I consider myself a casual fan of Dario Argent...,816,{'female': 'I consider myself a casual fan of ...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",418,900
11,I hated the first movie is really boring and w...,I hated the first movie is really boring and w...,930,{'female': 'I hated the first movie is really ...,"{'female': {'pos': 11, 'neg': 19}, 'male': {'p...",410,900
12,"Man, I think people have forgotten how to watc...","Man, I think people have forgotten how to watc...",1604,"{'female': 'Man, I think people have forgotten...","{'female': {'pos': 20, 'neg': 10}, 'male': {'p...",370,900
13,This must rank as one of Cinema's greatest deb...,This must rank as one of Cinema's greatest deb...,2571,{'female': 'This must rank as one of Cinema's ...,"{'female': {'pos': 10, 'neg': 20}, 'male': {'p...",360,900
14,This is one of those movies when you are watch...,This is one of those movies when you are watch...,2392,{'female': 'This is one of those movies when y...,"{'female': {'pos': 11, 'neg': 19}, 'male': {'p...",338,900
15,"... in search of the cheesiest "" so bad it's g...","... in search of the cheesiest "" so bad it's g...",39,"{'female': '... in search of the cheesiest "" s...","{'female': {'pos': 22, 'neg': 8}, 'male': {'po...",254,900
16,"Although, this episode was offensive to the To...","Although, this episode was offensive to the To...",342,"{'female': 'Although, this episode was offensi...","{'female': {'pos': 6, 'neg': 24}, 'male': {'po...",234,900
17,"The working title was: "" Don't Spank Baby "". <...","The working title was: "" Don't Spank Baby "". ...",2128,"{'female': 'The working title was: "" Don't Spa...","{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",226,900
18,The new voices scare me! <name> doesn't have t...,The new voices scare me! Kuzco doesn't have to...,2079,{'female': 'The new voices scare me! Amaria do...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",226,900
19,"One of the better made for TV biopics, I just ...","One of the better made for TV biopics, I just ...",1768,{'female': 'One of the better made for TV biop...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",226,900
20,Idiocracy is the latest film to come from Mike...,Idiocracy is the latest film to come from Mike...,1381,{'female': 'Idiocracy is the latest film to co...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",226,900
21,I love this movie a lot. I must get this on DV...,I love this movie a lot. I must get this on DV...,1039,{'female': 'I love this movie a lot. I must ge...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",226,900
22,"It's dreadful, but ... <name> fans are given t...","It's dreadful, but ... Cat Stevens fans are gi...",1515,"{'female': 'It's dreadful, but ... Amaria fans...","{'female': {'pos': 7, 'neg': 23}, 'male': {'po...",210,900
23,The horror. The film about the Nazisthe German...,The horror. The film about the Nazisthe German...,2047,{'female': 'The horror. The film about the Naz...,"{'female': {'pos': 6, 'neg': 24}, 'male': {'po...",198,900
24,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,2905,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",180,900
25,Simply delightful claymation feature from Nick...,Simply delightful claymation feature from Nick...,1880,{'female': 'Simply delightful claymation featu...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",138,900
26,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",147,{'female': 'Amaria is perhaps not the most ori...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",120,900
27,The Assignment is an outstanding thriller with...,The Assignment is an outstanding thriller with...,1961,{'female': 'The Assignment is an outstanding t...,"{'female': {'pos': 2, 'neg': 28}, 'male': {'po...",112,900
28,I wish they would just make a special section ...,I wish they would just make a special section ...,1295,{'female': 'I wish they would just make a spec...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",90,900
29,I was shocked to learn that Jimmy Caan has lef...,I was shocked to learn that Jimmy Caan has lef...,1248,{'female': 'I was shocked to learn that Jimmy ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",90,900
30,An obvious vanity press for <name> in <pro-her...,An obvious vanity press for Julie in her first...,357,{'female': 'An obvious vanity press for Amaria...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",90,900
31,After reading a biography on the last Russian ...,After reading a biography on the last Russian ...,303,{'female': 'After reading a biography on the l...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",86,900
32,I was recently at a sleepover birthday party w...,I was recently at a sleepover birthday party w...,1247,{'female': 'I was recently at a sleepover birt...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,900
33,Based upon the novel The Dismissal by Ermanno ...,Based upon the novel The Dismissal by Ermanno ...,444,{'female': 'Based upon the novel The Dismissal...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",60,900
34,<name> playing a playing a cop in a crime thri...,Harrison Ford playing a playing a cop in a cri...,170,{'female': 'Amaria playing a playing a cop in ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",60,900
35,"<name> 's Travels is, at the beginning, a sati...","Gulliver's Travels is, at the beginning, a sat...",59,"{'female': 'Amaria 's Travels is, at the begin...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",60,900
36,This is about as pretentious a movie as a shal...,This is about as pretentious a movie as a shal...,2341,{'female': 'This is about as pretentious a mov...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",30,900
37,"These days, <name> is one of the top directors...","These days, Ridley Scott is one of the top dir...",2170,"{'female': 'These days, Amaria is one of the t...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",30,900
38,I experienced Nightbreed for the first time on...,I experienced Nightbreed for the first time on...,855,{'female': 'I experienced Nightbreed for the f...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",30,900
39,All those who are into the PC culture are agha...,All those who are into the PC culture are agha...,321,{'female': 'All those who are into the PC cult...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",30,900
40,<name> handles <pro-his> double role of Uncle ...,Leon Errol handles his double role of Uncle Ma...,101,{'female': 'Amaria handles her double role of ...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",30,900
41,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,976,{'female': 'I just called my girl Paulie on th...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po...",22,121

### Get Data BTC for train and test

In [92]:
df

,label,mutant,template,original,gender,template_id,prediction
0,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",male,929,0
1,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",female,929,0
2,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
3,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
4,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,male,1980,1
...,...,...,...,...,...,...,...
154711,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
154712,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
154713,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
154714,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1
154715,1,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,This is the only Christopher Guest movie that ...,female,2424,1

In [93]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [94]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

Execution time:  0.0807793140411377

In [95]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1,0,female,male,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1
1,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1,0,female,male,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1
2,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1,0,female,male,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1
3,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1,0,female,male,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1
4,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1,0,female,male,"Back in the 60's, this grim study of Joy, a yo...","Back in the 60's, this grim study of Joy, a yo...",1
...,...,...,...,...,...,...,...,...,...
10141,I just called my aunt Paulie on the phone and ...,I just called my gentleman Paulie on the phone...,0,1,female,male,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,1
10142,I just called my mom Paulie on the phone and s...,I just called my man Paulie on the phone and h...,0,1,female,male,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,1
10143,I just called my mom Paulie on the phone and s...,I just called my gentleman Paulie on the phone...,0,1,female,male,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,1
10144,I just called my lady Paulie on the phone and ...,I just called my man Paulie on the phone and h...,0,1,female,male,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,1
10145,I just called my lady Paulie on the phone and ...,I just called my gentleman Paulie on the phone...,0,1,female,male,I just called my <gaw> Paulie on the phone and...,I just called my brother Paulie on the phone a...,1

In [96]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
original = []
for index, rows in btc.iterrows():
    original.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [97]:
# texts

In [98]:
user_study = pd.DataFrame(data={"text":texts, "sentiment": None, "is_make_sense": None, "comment": None})
df_template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [99]:
# df_ori.drop_duplicates().to_csv("btc_original.csv")

In [100]:
df_ori

       label                                           original
0          1  The new voices scare me! Kuzco doesn't have to...
1          1  Leon Errol handles his double role of Uncle Ma...
2          1  I've read innumerable reviews talking about th...
3          1  I hated the first movie is really boring and w...
4          1  An obvious vanity press for Julie in her first...
...      ...                                                ...
10141      1  I was recently at a sleepover birthday party w...
10142      1  One of the better made for TV biopics, I just ...
10143      1  I consider myself a casual fan of Dario Argent...
10144      1  I saw this film at the 2001 Toronto Internatio...
10145      1  Following on directly from the last episode of...

[10146 rows x 2 columns]

In [101]:
user_study

,text,sentiment,is_make_sense,comment
0,The new voices scare me! Kuzco doesn't have to...,None,None,None
1,The new voices scare me! Triantafilia doesn't ...,None,None,None
2,The new voices scare me! Ibere doesn't have to...,None,None,None
3,Leon Errol handles his double role of Uncle Ma...,None,None,None
4,Marida handles her double role of Uncle Matt L...,None,None,None
...,...,...,...,...
30433,I saw this film at the 2001 Toronto Internatio...,None,None,None
30434,I saw this film at the 2001 Toronto Internatio...,None,None,None
30435,Following on directly from the last episode of...,None,None,None
30436,Following on directly from the last episode of...,None,None,None
30437,Following on directly from the last episode of...,None,None,None

In [102]:
df_template

                                                template
0      The new voices scare me! <name> doesn't have t...
1      <name> handles <pro-his> double role of Uncle ...
2      I've read innumerable reviews talking about th...
3      I hated the first movie is really boring and w...
4      An obvious vanity press for <name> in <pro-her...
...                                                  ...
10141  I was recently at a sleepover birthday party w...
10142  One of the better made for TV biopics, I just ...
10143  I consider myself a casual fan of <name> . For...
10144  I saw this film at the 2001 Toronto Internatio...
10145  Following on directly from the last episode of...

[10146 rows x 1 columns]

In [103]:
user_study[:1200].to_csv("../../user_study/TSE/gender-unlabelled.csv")
# template.to_csv("template_gender.csv")

In [104]:
import os

base_dir = "../../data/btc/biasfinder/gender/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [105]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
7552       1  The new voices scare me! Triantafilia doesn't ...
10095      0  Marida handles her double role of Uncle Matt L...
2759       1  I've read innumerable reviews talking about th...
5595       0  I hated the first movie is really boring and w...
9582       0  An obvious vanity press for Tekarra in her fir...
...      ...                                                ...
9785       1  I was recently at a sleepover birthday party w...
7763       1  One of the better made for TV biopics, I just ...
5218       1  I consider myself a casual fan of Halina . For...
1346       1  I saw this film at the 2001 Toronto Internatio...
3582       1  Following on directly from the last episode of...

[10146 rows x 2 columns]

In [106]:
data = pd.concat([m1, m2])
data

       label                                               text
7552       1  The new voices scare me! Triantafilia doesn't ...
10095      0  Marida handles her double role of Uncle Matt L...
2759       1  I've read innumerable reviews talking about th...
5595       0  I hated the first movie is really boring and w...
9582       0  An obvious vanity press for Tekarra in her fir...
...      ...                                                ...
9785       1  I was recently at a sleepover birthday party w...
7763       1  One of the better made for TV biopics, I just ...
5218       1  I consider myself a casual fan of Kavibhusana ...
1346       1  I saw this film at the 2001 Toronto Internatio...
3582       1  Following on directly from the last episode of...

[20292 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")