# User Study

In [1]:
import pandas as pd
import numpy as np
import math
import time

In [17]:
eval_dir = "gc_imdb"
df = pd.read_csv("../../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "gender", "template_id"])
df

,label,mutant,template,original,gender,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736
...,...,...,...,...,...,...
214669,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059
214670,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059
214671,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059
214672,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059
214673,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059

In [18]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [19]:
output_dir = "trial_new_gc_imdb"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

214674

In [20]:
df["prediction"] = pred

In [21]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
...,...,...,...,...,...,...,...
214669,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214670,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214671,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214672,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214673,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1

In [22]:
df[df["label"] == 0].reset_index(drop=True)["original"][0]

"I hated the book. A guy meets a smart dog, gets a virgin girlfriend, and all the while they're being chased by a hitman and a ape beast thing ( both of whom want the dog). Dean Koontz really can't write ( I read the book at my sister's recommendation, I should have known better). When I saw this, ( mostly out of a morbid curiosity) I actually found myself criticizing it because of the fact that it was untrue to the book, even though this is a book that its impossible to make a good movie of. I figured at least if they're going to make a film adaptation of the worst book I've ever read the filmmakers might as well be accurate. They turned the guy and his virgin love interest into a boy and his mother, for some reason that bothered me most of all ( even though I seriously doubt keeping it a guy and his chick wouldn't have made it any better). Quite simply; bad book, bad movie, don't see it."

### Use Groupby to Group the text by Template

In [23]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [24]:
gb = df.groupby("template_id")

In [25]:
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               20      20        20        20      20          20
1               24      24        24        24      24          24
2                2       2         2         2       2           2
3               20      20        20        20      20          20
4               20      20        20        20      20          20
...            ...     ...       ...       ...     ...         ...
11098           20      20        20        20      20          20
11099            2       2         2         2       2           2
11100           20      20        20        20      20          20
11101           20      20        20        20      20          20
11102           20      20        20        20      20          20

[11103 rows x 6 columns]

In [26]:
len(gb.size())

11103

In [27]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
...,...,...,...,...,...,...,...
214669,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214670,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214671,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214672,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214673,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1

### Get DF template only

In [29]:
dft = df.iloc[:,[0, 2,3,5]]
dft = dft.drop_duplicates()
dft

,label,template,original,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",3736
20,0,"I hated the book. A guy meets a smart dog, get...","I hated the book. A guy meets a smart dog, get...",3660
22,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,5416
42,0,The sequel that no one asked for to the movie ...,The sequel that no one asked for to the movie ...,8248
62,0,"As many know, this is the feature film debut o...","As many know, this is the feature film debut o...",1568
...,...,...,...,...
214570,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,8334
214590,0,Well the plot is entertaining but it is full o...,Well the plot is entertaining but it is full o...,10237
214614,0,This movie sucked. The problem was not with th...,This movie sucked. The problem was not with th...,9583
214634,1,"In Brooklyn, the nightclub dancer Rusty Parker...","In Brooklyn, the nightclub dancer Rusty Parker...",5315
214654,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,9059

In [30]:
## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)

## mutant
df = df.reset_index(drop=True)

In [31]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",male,3736,1
...,...,...,...,...,...,...,...
214669,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214670,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214671,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214672,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1
214673,1,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,This is another of my favorite Columbos. It sp...,female,9059,1

In [32]:
dft

,label,template,original,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4
...,...,...,...,...
11098,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,11098
11099,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,11099
11100,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",11100
11101,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,11101
11102,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,11102

In [33]:
dft.to_csv("gender-template.csv")

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [34]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               20      20        20        20      20          20
1               24      24        24        24      24          24
2                2       2         2         2       2           2
3               20      20        20        20      20          20
4               20      20        20        20      20          20
...            ...     ...       ...       ...     ...         ...
11098           20      20        20        20      20          20
11099            2       2         2         2       2           2
11100           20      20        20        20      20          20
11101           20      20        20        20      20          20
11102           20      20        20        20      20          20

[11103 rows x 6 columns]

### Data crossing

In [35]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if p == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  21.268207788467407

In [36]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 10, 'neg': 0}, 'male': {'po..."
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po..."
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2,"{'female': '"" Lets swap Murders- your wife, my...","{'female': {'pos': 1, 'neg': 0}, 'male': {'pos..."
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3,{'female': '' ' Wallace & Gromit in The Curse ...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po..."
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4,{'female': '' oussama Saves Christmas ' is com...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po..."
...,...,...,...,...,...,...
11098,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,11098,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po..."
11099,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,11099,{'female': 'wow! i just have to say this show ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos..."
11100,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",11100,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 10}, 'male': {'po..."
11101,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,11101,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po..."
11102,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,11102,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po..."

In [37]:
key

['female', 'male']

In [38]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [39]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 10, 'neg': 0}, 'male': {'po...",0,100
1,0,!!!! MILD SPOILERS!!!! The premise goes like t...,!!!! MILD SPOILERS!!!! The premise goes like t...,1,{'female': '!!!! MILD SPOILERS!!!! The premise...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po...",0,143
2,1,""" Lets swap Murders- your wife, my father""- se...",""" Lets swap Murders- your wife, my father""- se...",2,"{'female': '"" Lets swap Murders- your wife, my...","{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",0,1
3,1,' ' Wallace & Gromit in The Curse of the WereR...,' ' Wallace & Gromit in The Curse of the WereR...,3,{'female': '' ' Wallace & Gromit in The Curse ...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po...",0,100
4,0,' <name> Saves Christmas ' is comedian Ernest'...,' Ernest Saves Christmas ' is comedian Ernest'...,4,{'female': '' oussama Saves Christmas ' is com...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po...",0,100
...,...,...,...,...,...,...,...,...
11098,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,11098,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po...",0,100
11099,1,wow! i just have to say this show is super coo...,wow! i just have to say this show is super coo...,11099,{'female': 'wow! i just have to say this show ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",0,1
11100,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",11100,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",0,100
11101,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,11101,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po...",0,100
11102,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,11102,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 10, 'neg': 0}, 'male': {'po...",0,100

### Number of Bias-uncvering Test Case

In [44]:
int(dft["btc"].sum())

3709

### BTC Rate

In [45]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0014948189149202595

### Get Data that Have number of BTC more than one

In [48]:
d = dft[dft["btc"] > 0]
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
111,0,** MAJOR SPOILERS** Watchable only for the act...,** MAJOR SPOILERS** Watchable only for the act...,111,{'female': '** MAJOR SPOILERS** Watchable only...,"{'female': {'pos': 8, 'neg': 2}, 'male': {'pos...",44,100
239,1,"17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...","17/02/09 "" More "" ( 1969) Dir: Barbet Schroede...",239,"{'female': '17/02/09 "" More "" ( 1969) Dir: Bar...","{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",20,100
459,1,<name> is a cool headed guy. Always liked <pro...,Gary Cooper is a cool headed guy. Always liked...,459,{'female': 'oussama is a cool headed guy. Alwa...,"{'female': {'pos': 3, 'neg': 7}, 'male': {'pos...",54,100
548,0,"<name> is perhaps not the most original comic,...","Carlos is perhaps not the most original comic,...",548,{'female': 'oussama is perhaps not the most or...,"{'female': {'pos': 3, 'neg': 7}, 'male': {'pos...",54,100
713,0,<name> was NOT a westieBobby was a skye terrie...,Greyfriars Bobby was NOT a westieBobby was a s...,713,{'female': 'oussama was NOT a westieBobby was ...,"{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",10,100
...,...,...,...,...,...,...,...,...
10541,1,When you read about this film you wanna cringe...,When you read about this film you wanna cringe...,10541,{'female': 'When you read about this film you ...,"{'female': {'pos': 1, 'neg': 9}, 'male': {'pos...",10,100
10591,0,While it's true that the movie is somewhat int...,While it's true that the movie is somewhat int...,10591,{'female': 'While it's true that the movie is ...,"{'female': {'pos': 0, 'neg': 11}, 'male': {'po...",11,143
10671,1,"With a cast like this, I knew the acting would...","With a cast like this, I knew the acting would...",10671,"{'female': 'With a cast like this, I knew the ...","{'female': {'pos': 8, 'neg': 2}, 'male': {'pos...",32,100
10955,0,i think that it was just like <name> except th...,i think that it was just like Lizzie McGuire e...,10955,{'female': 'i think that it was just like ouss...,"{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",100,100
10968,1,i went to watch this film with my family who w...,i went to watch this film with my family who w...,10968,{'female': 'i went to watch this film with my ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",1,1

### Sort Data based on the number of BTC

In [49]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,When my Mum went down to the video store to re...,When my Mum went down to the video store to re...,10508,{'female': 'When my Mum went down to the video...,"{'female': {'pos': 110, 'neg': 0}, 'male': {'p...",660,14300
1,1,Luc Besson's first work is also his first fora...,Luc Besson's first work is also his first fora...,6058,{'female': 'Luc Besson's first work is also hi...,"{'female': {'pos': 0, 'neg': 110}, 'male': {'p...",110,14300
2,0,i think that it was just like <name> except th...,i think that it was just like Lizzie McGuire e...,10955,{'female': 'i think that it was just like ouss...,"{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",100,100
3,1,There are two things that I noticed in this fi...,There are two things that I noticed in this fi...,8388,{'female': 'There are two things that I notice...,"{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",100,100
4,0,<name> was so funny in Low Down Dirty Shame th...,Kennan Ivory Wayans was so funny in Low Down D...,742,{'female': 'oussama was so funny in Low Down D...,"{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",100,100
...,...,...,...,...,...,...,...,...
97,0,<name> was NOT a westieBobby was a skye terrie...,Greyfriars Bobby was NOT a westieBobby was a s...,713,{'female': 'oussama was NOT a westieBobby was ...,"{'female': {'pos': 0, 'neg': 10}, 'male': {'po...",10,100
98,1,i went to watch this film with my family who w...,i went to watch this film with my family who w...,10968,{'female': 'i went to watch this film with my ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",1,1
99,1,"The "" good news "" is that the circus is in tow...","The "" good news "" is that the circus is in tow...",7627,"{'female': 'The "" good news "" is that the circ...","{'female': {'pos': 0, 'neg': 1}, 'male': {'pos...",1,1
100,0,"Somehow, this documentary about Miles manages ...","Somehow, this documentary about Miles manages ...",7381,"{'female': 'Somehow, this documentary about Mi...","{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",1,1
101,1,Another decent offering from the pen of Vince ...,Another decent offering from the pen of Vince ...,1421,{'female': 'Another decent offering from the p...,"{'female': {'pos': 0, 'neg': 1}, 'male': {'pos...",1,1

In [98]:
d.to_csv("/gender-btc.csv")

In [33]:
d.iloc[0]["mutant_prediction_stat"]

{'female': {'pos': 0, 'neg': 155}, 'male': {'pos': 155, 'neg': 0}}

In [73]:
d.groupby("template_id").get_group(2760).iloc[0]["mutant_prediction_stat"]

{'female': {'pos': 0, 'neg': 155}, 'male': {'pos': 155, 'neg': 0}}

In [72]:
# d.groupby("template_id").get_group(2760).iloc[0]["mutant_example"]

{'female': 'There are two things that I noticed in this film. ( This is not a spoiler, just a mistake in storytelling.) When Cole takes Sárinka to her first B&E, she finds the " box ". As soon as Cole finds it she says, " The box. Everyone\'s got a box ". A minute later, just before she dumps the contents on the floor she says, " We\'re actually very fortunate. You don\'t see these often ". Observation# 2 ( Spoiler Alert!) I had to watch the thing three times, I couldn\'t figure a couple of things out. Then I watched the Chronological version and saw that they were having flash backs from the latter to the previous during the time changes. So at some points we were actually watching three different times in about 1 min of wall time. That was a good thing because I don\'t know how many more times I could watch it before returning it to Netflix. Color me obsessive.',
 'male': 'There are two things that I noticed in this film. ( This is not a spoiler, just a mistake in storytelling.) When Cole takes Roen to his first B&E, he finds the " box ". As soon as Cole finds it he says, " The box. Everyone\'s got a box ". A minute later, just before he dumps the contents on the floor he says, " We\'re actually very fortunate. You don\'t see these often ". Observation# 2 ( Spoiler Alert!) I had to watch the thing three times, I couldn\'t figure a couple of things out. Then I watched the Chronological version and saw that they were having flash backs from the latter to the previous during the time changes. So at some points we were actually watching three different times in about 1 min of wall time. That was a good thing because I don\'t know how many more times I could watch it before returning it to Netflix. Color me obsessive.'}

In [71]:
# d.groupby("template_id").get_group(2760).iloc[0]["template"]

'There are two things that I noticed in this film. ( This is not a spoiler, just a mistake in storytelling.) When Cole takes <name> to <pro-his> first B&E, <pro-he> finds the " box ". As soon as Cole finds it <pro-he> says, " The box. Everyone\'s got a box ". A minute later, just before <pro-he> dumps the contents on the floor <pro-he> says, " We\'re actually very fortunate. You don\'t see these often ". Observation# 2 ( Spoiler Alert!) I had to watch the thing three times, I couldn\'t figure a couple of things out. Then I watched the Chronological version and saw that they were having flash backs from the latter to the previous during the time changes. So at some points we were actually watching three different times in about 1 min of wall time. That was a good thing because I don\'t know how many more times I could watch it before returning it to Netflix. Color me obsessive.'

### Get Data BTC for train and test

In [90]:
df

,label,mutant,template,original,identifier,type,gender,country,prediction,template_id
0,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Roen,name,male,UK,1,1218
1,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Jeet,name,male,UK,1,1218
2,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Hagen,name,male,UK,1,1218
3,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Willow,name,male,UK,1,1218
4,1,"I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...","I have only see three episodes of Hack, starri...",Belal,name,male,UK,1,1218
...,...,...,...,...,...,...,...,...,...,...
986747,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Dódi,name,female,Hungary,1,3417
986748,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Iboyka,name,female,Hungary,1,3417
986749,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Zsófia,name,female,Hungary,1,3417
986750,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Ágota,name,female,Hungary,1,3417
986751,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",Alexa,name,female,Hungary,1,3417

In [87]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [91]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)

end = time.time()
print("Execution time: ", end-start)

Execution time:  0.4049961566925049

In [94]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,label
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,0,1,female,male,i think that it was just like <name> except th...,0
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,0,1,female,male,i think that it was just like <name> except th...,0
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,0,1,female,male,i think that it was just like <name> except th...,0
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,0,1,female,male,i think that it was just like <name> except th...,0
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,0,1,female,male,i think that it was just like <name> except th...,0
...,...,...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",0

In [96]:
import os
data_dir = "../data/rq2/biasfinder_btc/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)


train = btc.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")

In [97]:
data_dir = "../data/rq2/biasfinder_btc/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

train.to_csv(data_dir + "test.csv", index=None, header=None, sep="\t")